{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel adm</title>
    <link rel="stylesheet" href="{% static 'usuario/css/painel.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <div class="menu">
            <div class="img">
                <img src="{% static 'usuario/img/R.png' %}" alt="" width="200px">
            </div>
            <div class="links">
                <a href="cursos.html">cursos</a>
                <a href="painel.html">painel</a>
                <a href="../principal/index.html">tela inicial</a>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="admin-panel">
            <h2>Painel do Administrador</h2>
            <form method="POST"> {% csrf_token %}
                <div class="form-group">
                    <label for="video-url">URL do Vídeo (YouTube)</label>
                    <input type="text" id="video-url" name="video_url" required>
                </div>
                <div class="form-group">
                    <label for="student-room">Sala</label>
                    <input type="text" id="student-room" name="sala" required>
                </div>
                <div class="form-group">
                    <label for="student-course">Curso</label>
                    <input type="text" id="student-course" name="curso" required>
                </div>
                <div class="form-group">
                    <label for="student-class">Turma</label>
                    <input type="text" id="student-class" name="turma" required>
                </div>
                <button type="submit">Cadastrar Vídeo</button>
            </form>
        </div>
    </div>
</body>

</html>