body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricipal{
    padding: 10vh;
    background-color: blue;
    color: #fff;
    margin-top: 14vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.356);
}
.botao{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}
.btn {
    width: 300px; 
    height: 70px;
    line-height: 50px;
}
.btn4{
    width: 300px; 
    height: 70px; 
}

.pesquisa input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pesquisa input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.pesquisa input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.pesquisa select {
    width: 200px; 
    margin-bottom: 20px;
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}