body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: blue;
    color: #fff;
  }

main{
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    border-bottom: 1px solid #fff;
}

@media (max-width: 768px) {
  .titulo {
        margin-top: 420px; 
    }
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 70.50%; 
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.botao{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.btn {
    width: 150%;
    height: 70px;
    line-height: 50px;
}


.pesquisa input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pesquisa input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.pesquisa input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pesquisa select {
    width: 200px; 
    margin-bottom: 20px;
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.icon a i:hover{
    color: #fff !important;
    transition: 1s !important;
}